DB_SERVER=host.docker.internal,1433
DB_DATABASE=AIDecisionIntelligence
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUSTED_CONNECTION=no
DB_TRUST_SERVER_CERTIFICATE=yes
DB_USERNAME=decision_api
DB_PASSWORD=replace-with-a-secret
SQL_PASSWORD=replace-with-a-different-strong-secret
