DB_SERVER=localhost\SQLEXPRESS
DB_NAME=AIModelAnalytics
DB_DRIVER=ODBC Driver 18 for SQL Server
PUBLIC_API_BASE_URL=http://127.0.0.1:8000
CONFIDENCE_THRESHOLD=0.85
MAX_RETAINED_IMAGES=20
IMAGE_RETENTION_GRACE_SECONDS=300
STABLE_FILE_TIMEOUT_SECONDS=30
PIPELINE_VERSION=2.0.0
